:root {
    --blue1: #000814;
    --blue2: #001d3d;
    --blue3: #003566;
    --yellow1: #ffc300;
    --yellow2: #ffd60a;
  }

*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

body {
    background-color: var(--blue2)
}

.content {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100vh;
    align-items: center;
}

#menuBar {
    position: sticky;
    top: 0;
    height: 45px;
    width: 100vw;
    max-width: 100vw;
    /* min-width: 500px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    /* background-color: var(--blue2); */
}

#menuIconContainer {
    width: 20%;
    height: 100%;
    background-color: brown;
}

#menuButtonContainer {
    width: 220px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--blue3);
    justify-content: right;
}

.menuButton {
    background-color: pink;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

#gitButtonContainer {
    /* background: url('./github-mark.png'); */
    background: url('./github.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-color: cornflowerblue;
    border-radius: 5px;
    /* <a href="https://www.flaticon.com/free-icons/github" title="github icons">Github icons created by riajulislam - Flaticon</a> */
    /* Icon by riajulislam */
}

#linkedinButtonContainer {
    /* background: url('./iconmonstr-linkedin-3.svg'); */
    background: url('./linkedin.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-color: cornflowerblue;
    border-radius: 5px;
    /* <a href="https://www.flaticon.com/free-icons/linkedin" title="linkedin icons">Linkedin icons created by riajulislam - Flaticon</a> */
    /* Icon by riajulislam */
}

#CVButtonContainer {
    background: url('./cv.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-color: cornflowerblue;
    border-radius: 5px;
    /* <a href="https://www.flaticon.com/free-icons/curriculum-vitae" title="curriculum vitae icons">Curriculum vitae icons created by edt.im - Flaticon</a> */
    /* Icon By edt.im */
}

#flexContainer {
    height: 100vh;
    width: 100%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: stretch;
    justify-content: center;
}

#topSection {
    height: 40em;
    width: 100%;
    background-color: var(--blue2);
}

#midSection {
    height: 40em;
    width: 100%;
    background-color: var(--blue1);
}

#botSection {
    height: 40em;
    width: 100%;
    background-color: var(--blue2);
}